<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concept</title>
    <style>
        .Grid {
            width : 500px;

            aspect-ratio: 1/1;
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: 2fr .5fr;
        }
    </style>
</head>
<body>
    <script src="../build/Grid.js"></script>
    <div class="awd" awd="rgb(255,255,255)"></div>



</body>
</html>
